<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.inesafujitsu.prototype.persist.mapper.TransportBoxHistoryMapper">
    <resultMap id="resultMap" type="TransportBoxHistory">
        <id column="h_id" property="id" javaType="String"/>
        <result column="h_idx" property="idx" javaType="Integer"/>
        <result column="h_create_date" property="createDate" javaType="Date"/>
        <result column="h_create_user" property="createUser" javaType="String"/>
        <result column="h_note" property="note" javaType="String"/>

        <association property="master" javaType="TransportBox">
            <id column="m_id" property="id" javaType="String"/>
            <result column="m_name" property="name" javaType="String"/>
            <result column="m_curr_idx" property="currIdx" javaType="Integer"/>
            <result column="m_create_date" property="createDate" javaType="Date"/>
            <result column="m_create_user" property="createUser" javaType="String"/>
            <result column="m_update_date" property="createDate" javaType="Date"/>
            <result column="m_update_user" property="createUser" javaType="String"/>
            <result column="m_rf_id" property="rfId" javaType="String"/>
        </association>
    </resultMap>

    <sql id="columnList4History">
        id, master_id, idx, create_date, create_user, note
    </sql>

    <sql id="columnList4MasterWithPrefix">
        m.id AS m_id,
        m.name AS m_name,
        m.curr_idx AS m_curr_idx,
        m.create_date AS m_create_date,
        m.create_user AS m_create_user,
        m.update_date AS m_update_date,
        m.update_user AS m_update_user,
        m.rf_id AS m_rf_id
    </sql>

    <sql id="columnList4HistoryWithPrefix">
        h.id AS h_id,
        h.master_id AS h_master_id,
        h.idx AS h_idx,
        h.create_date AS h_create_date,
        h.create_user AS h_create_user,
        h.note AS h_note
    </sql>

    <select id="getAll" resultMap="resultMap">
        SELECT
        <include refid="columnList4HistoryWithPrefix"/>
        FROM h_transport_box h
        WHERE h.master_id = #{masterId}
        ORDER BY h.create_date
    </select>

    <select id="getOne" resultMap="resultMap">
        SELECT
        <include refid="columnList4HistoryWithPrefix"/>
        ,
        <include refid="columnList4MasterWithPrefix"/>
        FROM m_transport_box m, h_transport_box h
        WHERE m.id = h.master_id
        AND h.master_id = #{masterId}
        AND h.idx = #{idx}
    </select>

    <insert id="insert" parameterType="TransportBoxHistory">
        INSERT INTO h_transport_box (<include refid="columnList4History"/>)
        VALUES (#{id}, #{master.id}, #{idx}, #{createDate}, #{createUser}, #{note})
    </insert>

</mapper>