<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.inesafujitsu.prototype.business.persist.mapper.TransportBoxMapper">
    <resultMap id="resultMap" type="TransportBox">
        <id column="id" property="id" javaType="String"/>
        <result column="name" property="name" javaType="String"/>
        <result column="curr_idx" property="currIdx" javaType="Integer"/>
        <result column="create_date" property="createDate" javaType="Date"/>
        <result column="create_user" property="createUser" javaType="String"/>
        <result column="update_date" property="updateDate" javaType="Date"/>
        <result column="update_user" property="updateUser" javaType="String"/>
        <result column="lock_date" property="lockDate" javaType="Date"/>
        <result column="lock_user" property="lockUser" javaType="String"/>
        <result column="rf_id" property="rfId" javaType="String"/>

        <collection property="histories" ofType="TransportBoxHistory">
            <id column="h_id" property="id" javaType="String"/>
            <result column="h_idx" property="idx" javaType="Integer"/>
            <result column="h_create_date" property="createDate" javaType="Date"/>
            <result column="h_create_user" property="createUser" javaType="String"/>
            <result column="h_note" property="note" javaType="String"/>
        </collection>
    </resultMap>

    <sql id="columnList">
        m.id,
        m.name,
        m.curr_idx,
        m.create_date,
        m.create_user,
        m.update_date,
        m.update_user,
        m.lock_date,
        m.lock_user,
        m.rf_id
    </sql>

    <sql id="columnListWithHistory">
        m.id,
        m.name,
        m.curr_idx,
        m.create_date,
        m.create_user,
        m.update_date,
        m.update_user,
        m.lock_date,
        m.lock_user,
        m.rf_id,
        h.id AS h_id,
        h.idx AS h_idx,
        h.create_date AS h_create_date,
        h.create_user AS h_create_user,
        h.note AS h_note
    </sql>

    <select id="getAll" resultMap="resultMap">
        SELECT
        <include refid="columnList"/>
        FROM biz_transport_box m
        ORDER BY m.update_date DESC, m.create_date DESC
    </select>

    <select id="getOne" parameterType="String" resultMap="resultMap">
        SELECT
        <include refid="columnListWithHistory"/>
        FROM biz_transport_box m, biz_transport_box_h h
        WHERE m.id = h.master_id
        AND m.id = #{id}
        ORDER BY h.create_date
    </select>

    <insert id="insert" parameterType="TransportBox">
        INSERT INTO biz_transport_box (<include refid="columnList"/>)
        VALUES (#{id}, #{name}, #{currIdx}, #{createDate}, #{createUser}, NULL, NULL, NULL, NULL, #{rfId})
    </insert>

    <update id="update" parameterType="TransportBox">
        UPDATE biz_transport_box
        <set>
            <if test="currIdx != null">curr_idx = #{currIdx},</if>
            <if test="updateDate != null">update_date = #{updateDate},</if>
            <if test="updateUser != null">update_user = #{updateUser},</if>
            <if test="rfId != null">rf_id = #{rfId},</if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="lock">
        UPDATE biz_transport_box
        SET lock_date = #{lockDate}, lock_user = #{lockUser}
        WHERE id = #{id}
    </update>

    <update id="unlock">
        UPDATE biz_transport_box
        SET lock_date = NULL, lock_user = NULL
        WHERE id = #{id}
    </update>

    <update id="remove">
        UPDATE biz_transport_box
        SET delete_date = #{deleteDate}, delete_user = #{deleteUser}
        WHERE id = #{id}
    </update>

</mapper>